# ===== MySQL =====
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=investapp
MYSQL_USER=finance_user
MYSQL_PASSWORD=finance123

# ===== App =====
DB_PORT=3307

# ===== JWT =====
# Gere uma chave segura com: openssl rand -base64 64
# Mínimo 64 caracteres para algoritmo HS512
JWT_SECRET=sua-chave-secreta-aqui-minimo-64-caracteres
JWT_EXPIRATION=3600000
